version: "3"
services:
    react:
        build:
            context: ./srcs/requirements/react
        container_name: react
        depends_on:
            - nestjs
        env_file:
            - .env
        networks:
            - yggdrasil
        ports:
            - "3000:3000"
        restart: unless-stopped
        volumes:
              - "./srcs/app_react:/var/www/html/app_react"
    nestjs:
        build:
            context: ./srcs/requirements/nestjs
        container_name: nestjs
        depends_on:
            - postgre
        env_file:
            - .env
        networks:
            - yggdrasil
        ports:
            - "3080:3080"
            - "3443:3443"
        restart: unless-stopped
        volumes:
              - "./srcs/app_nest:/var/www/html/app_nest"
    postgres:
        image: postgres:14
        container_name: postgres
        env_file:
            - .env
        networks:
            - yggdrasil
        restart: unless-stopped
        volumes:
              - "database:/var/lib/postgresql/data"
    pgamin:
        image: dpage/pgadmin4
        container_name: pgadmin
        depends_on:
            - postgre
        env_file:
            - .env
        networks:
            - yggdrasil
        ports:
            - "8080:80"
        restart: unless-stopped
        volumes:
            - ./srcs/requirements/pgadmin/servers.json:/pgadmin4/servers.json
networks:
    yggdrasil:
        name: yggdrasil
        driver: bridge
volumes:
    database:
        name: database
