a {
	text-decoration: none;
}

button, .btn {
	display: block;

	color: inherit;
	font-size: $button-font-size;
	font-weight: $button-font-weight;

	background: transparent;

	&.square {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		& > .content {
			position: absolute;
			display: block;
			padding: inherit;
		}

		&:before {
			content: "";
			display: block;
			padding-bottom: 100%;
		}
	}
}
