a {
	text-decoration: none;
}

button, .btn {
	display: block;

	color: inherit;
	font-size: $button-font-size;
	font-weight: $button-font-weight;

	//background: transparent;

	&.square {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		& > .content {
			position: absolute;
			display: block;
			padding: inherit;
		}

		&:before {
			content: "";
			display: block;
			padding-bottom: 100%;
		}
	}
}

.button-hovered {
	&:hover {
		border: 2px inset fuchsia;
		background-color: rgba(255, 0, 255, 0.393);
		color: white;
	}
}

.button-selected {
	&:focus {
		border: 2px inset fuchsia;
		color: white;
	}
}
