.rounded {
	border-radius: $border-radius;
}

.overlay {
	background-color: rgba($overlay, $overlay-opacity);
	padding: 30px 20px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.bg-overlay {
	background-color: rgba($overlay, $overlay-opacity);
	padding: 30px 20px;
}
