body {
	color: $body-color;
	font-size: $font-size-base;
}

h1, .h1 { font-size: $h1-font-size; font-weight: bold; }
h2, .h2 { font-size: $h2-font-size; font-weight: bold; }
h3, .h3 { font-size: $h3-font-size; font-weight: bold; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }

@each $name, $color in $colors {
	.text-#{$name} {
		color: $color;
	}

	.text-neon-#{$name} {
		color: $body-color;
		text-shadow: generate-neon($color);
	}

	.text-neon2-#{$name} {
		color: transparent;
		-webkit-text-stroke-color: lighten($color, 30%);
		text-shadow: generate-neon($color, 1);
	}
}

@for $size from 1 through 2 {
	.text-stroke-#{$size} {
		-webkit-text-stroke-width: #{$size}px;
	}	
}
