.friendCard {
	// border: 2px solid rgb(255, 25, 255);
	text-align: center;
	background: url("/assets/images/bg_friendCard.png") no-repeat center/cover;
	width: 300px;
	height: 300px;
	user-select: none;

	padding: 30px 30px 0px 30px;
	// margin: 20px;
	text-shadow: none;
	color: white;
	font-size: 2rem;

	.friendCardUp {
		display: flex;
		justify-content:space-between;
	}

	.driendCardDown {
		display: flex;
	}

	button {
		background: url("/assets/images/trash.png") no-repeat center/contain;
		//position: absolute;
		//bottom: 16px;
		transform: translateY(-95%) translateX(+345%);
		height: 50px;
		width: 30px;
		transition: all 0s ease-out;
	}

	button:hover {
		height: 55px; width: 35px; transform: translateY(-90%) translateX(+295%);
	}

	button:active {
		height: 50px; width: 30px; transform: translateY(-95%) translateX(+345%);
	}
}

