#game-options {
	width: 100%;
	text-align: center;
	background-color: rgba($overlay, $overlay-opacity);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 20px;

	.config {
		width: 80%;
		margin-left: auto;
		margin-right: auto;

		button {
			margin-top: 20px;
			width: 100%;
		}
	}
}
