.history {
	text-align: center;

	&>div {
		overflow-y: auto;

		thead {
			background-color: rgba(darken($primary, 10%), 0.5);
		}
	
		tbody {
			background-color: rgba(darken($primary, 20%), 0.5);
			border-radius: 25px;
			margin: 10px;
			padding: 10px;
			min-width: 100%;
		}
	
		td, th {
			padding: 12px 8px;
		}
	
		td:not(:first-child) {
			text-align: center;
		}
	}
}