#navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 2rem;

	a {
		margin: 10px;
		padding: 10px;
		position: relative;

		&:hover {
			text-shadow: 5px 3px 0px $color-3;
		}
	}

	nav {
		background: rgba(0, 0, 0, 0.541);
		border-radius: 5%;
		border: 2px inset $color-1;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		min-width: 72%;

		.nav-link {
			&.activated {
				&::after {
					content: '';
					width: 110%;
					height: 20px;
					background: url("/assets/img/activeNav.png") no-repeat center/cover;
					position: absolute;
					bottom: -9px;
					left: 50%;
					transform: translateX(-50%);
				}
				text-shadow: 5px 3px 0px $color-3;
				color: $color-1;
				animation-name: shine;
				animation-duration: 3.5s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
			}
		}
	}
}

 @keyframes shine {
    0% { text-shadow: 5px 3px 0px $color-3; color: $color-2; }
    14% { text-shadow: 5px 3px 0px $color-3; color: $color-1; }
    100% { text-shadow: 5px 3px 0px $color-3; color: $color-1; }
}
