@import "../variables";

#notifications {
	position: fixed;
	right: 0;
	top: 0;

	width: 250px;
	overflow: hidden;
	pointer-events: none;
	z-index: 999;

	& > div {
		width: 100%;
		min-height: $notification-height;
		max-height: $notification-height;

		opacity: 0;
		transform: translateX(100%);
		margin-top: -$notification-height;
		animation: notification-hide 0.6s ease-out forwards;

		border: 3px double $primary;
		padding: 5px 15px;

		font-size: 1.6rem;

		&.show {
			max-height: none;
			animation: notification-show 0.6s ease-out forwards;
		}
	}
}

@keyframes notification-show {
	0% {
		opacity: 0;
		transform: translateX(100%);
		margin-top: -$notification-height;
	}
	30% {
		opacity: 0;
		transform: translateX(100%);
		margin-top: 10px;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
		margin-top: 10px;
	}
}

@keyframes notification-hide {
	0% {
		opacity: 1;
		transform: translateX(0);
		margin-top: 10px;
	}
	70% {
		opacity: 0;
		transform: translateX(100%);
		margin-top: 10px;
	}
	100% {
		opacity: 0;
		transform: translateX(100%);
		margin-top: -$notification-height;
	}
}
