@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

$font-1: 'Permanent Marker', cursive;

$color-1: #8900b3;
$color-2: #ff25e2;
$color-3: #e1fcb7;
$color-4: #25ff66;
$color-5: #007222;
$white: rgb(243, 243, 243);
$invisible: rgba(243, 243, 243, 0);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: url("/assets/img/cursor.png") 50 50, auto;
	user-select: none;
}

body {
  margin: 0.4rem auto;
  max-width: 1700px;
  font-family: $font-1;
  font-size: 2.5rem;
  text-shadow: 5px 3px 0px $color-1;
  color: $color-3;
  background: url(/assets/img/bg_home.png) fixed center/contain;
  animation: 30s linear 1s infinite alternate slidein;
}

@keyframes slidein {
	from { background-size: 150%; }
	to   { background-size: 250%; }
  }

li {
  list-style-type: none;
}

a {
	text-decoration: none;
	color: $color-3;
	cursor: url("/assets/img/cursor_little_pink.png") 50 50, auto;
}

a:visited {
	color: $color-3;
}

button {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-2;;
	background: url("/assets/img/bg_friendCard.png") no-repeat center/cover;
	border: none;
	transition: all 0.5s ease-out;
	&:hover {
		background: url("/assets/img/button_hover_rainbow.png") no-repeat center/cover;
		text-shadow: none;
		cursor: url("/assets/img/cursor_little_pink.png") 50 50, auto;
	}
	&:active {
		background: url("/assets/img/button_active.png") no-repeat center/cover;
		color: $color-4;
		transition: all 0s ease-out;
	}
}

input {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-1;
}

input:hover {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
	cursor: url("/assets/img/cursor_little_pink.png") 50 50, auto;
}

input:active {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
}

textarea {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-1;
}

textarea:hover {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
	cursor: url("/assets/img/cursor_little_pink.png") 50 50, auto;
}

textarea:active {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
}

.spec:hover {
	cursor: url("/assets/img/cursor_little_pink.png") 50 50, auto;
}

@keyframes shine {
	0% { text-shadow: 5px 3px 0px $color-3; color: $color-2; }
    14% { text-shadow: 5px 3px 0px $color-3; color: $color-1; }
    100% { text-shadow: 5px 3px 0px $color-3; color: $color-1; }
}

@keyframes shine2 {
	0% { color: $color-2 }
	54% { color: $color-1; }
	100% { color: $color-1; }
}

@keyframes appearRoomInfo {
	0% {width: 0%; margin: 0px 50%;border: 2px inset $color-2;}
	99% {min-height: auto;}
	100% {width: 90%; margin: 0px 5%;border: 2px inset $color-1;}
}

@keyframes appearAvatar {
	0% {width: 0px; background-size: 0%; border: 0px inset $color-1;}
	25% {width: 0px; background-size: 0%; border: 0px inset $color-1;}
	50% {background-size: 125%; border: 0px inset $color-1;}
	100% {width: 120px; background-size: 125%; border: 2px inset $color-1;}
}

@keyframes appearText {
	0% {font-size: 0rem;}
	25% {font-size: 0rem;}
	100% {font-size: 1.5rem;}
}

@keyframes appearCvs {
	0% {margin: 500px 0px 0px 0px;opacity: 0%;}
	100% {margin: 0px 0px 0px 0px;opacity: 100%;}
}

@keyframes appearBtnWin {
	0% {width: 0%; margin: 0px 50%;border: 0px inset $color-2;}
	100% {width: 70%; margin: 30px 15%;border: 3px inset $color-1;}
}

@keyframes appearBtn {
	0% {opacity: 0; margin: 0px 0%;border: 0px inset $color-2;}
	100% {opacity: 1; margin: 30px 15%;border: 3px inset $color-1;}
}