@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

$font-1: 'Permanent Marker', cursive;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

:root {
	cursor: url("/assets/images/cursor.png") 16 16, auto;
}

:any-link, button:hover, input:hover, textarea:hover, .pointer {
	cursor: url("/assets/images/cursor_little_pink.png") 16 16, auto;
}

body {
	margin: 0.4rem auto;
	max-width: 1700px;
	font-family: $font-1;
	font-size: 2.5rem;
	text-shadow: 5px 3px 0px $color-1;
	color: $color-3;
	background: url("/assets/images/bg_home.png") fixed center/contain;
	animation: 30s linear 1s infinite alternate slidein;
}

@keyframes slidein {
	from { background-size: 150%; }
	to   { background-size: 250%; }
}

li {
	list-style-type: none;
}

a, a:visited {
	text-decoration: none;
	color: $color-3;

	&:hover {
		color: $color-1; 
	}
}

button {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-2;;
	background: url("/assets/images/bg_friendCard.png") no-repeat center/cover;
	border: none;
	transition: all 0.5s ease-out;
	&:hover {
		background: url("/assets/images/button_hover_rainbow.png") no-repeat center/cover;
		text-shadow: none;
	}
	&:active {
		background: url("/assets/images/button_active.png") no-repeat center/cover;
		color: $color-4;
		transition: all 0s ease-out;
	}
}

input {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-1;
}

input:hover {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
}

input:active {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
}

textarea {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-1;
}

textarea:hover {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
}

textarea:active {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
}
