@import "./settings";
@import "./pages/login";
@import "./pages/friends";
@import "./pages/game";
@import "./pages/menu";
@import "./pages/options";
@import "./pages/statistics";
@import "./components/friendCard";
@import "./components/navigation";
@import "./components/popup";
@import "./components/userCard";
@import "./components/alert";
@import "./layouts/app";
@import "./pages/chat";
