@import "variables";
@import "mixins";

@import "utilities/typography";
@import "utilities/button";
@import "utilities/border";
@import "utilities/overlay";

@import "layouts/app.scss";

@import "components/container";
@import "components/card";
@import "components/input";
@import "components/navigation";
@import "components/notification";
@import "components/boardCard";

@import "pages/login";
@import "pages/friends";
@import "pages/options";
@import "pages/game";
@import "pages/leaderboard";
@import "pages/chat";
