@import "../mixins";

* {
	box-sizing: border-box;
}

:root {
	user-select: none;
	background-color: black;
	font-family: monospace;
	cursor: url("/assets/images/cursor.png") 16 16, auto;
}

.cursor {
	cursor: url("/assets/images/cursor.png") 16 16, auto;
}

:any-link, button:hover, input:hover, textarea:hover, .pointer:hover, .btn:hover {
	cursor: url("/assets/images/cursor_little_pink.png") 16 16, auto;
}

html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	
	&:before {
		content: "";
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: url("/assets/images/bg_home.png") fixed center/cover no-repeat;
		z-index: -1;
		pointer-events: none;
		animation: 30s cubic-bezier(0.3, 0, 0.7, 1) 1s infinite alternate slidein;

		@keyframes slidein {
			from { transform: scale(1); }
			to   { transform: scale(2); }
		}
	}
}

a {
	color: inherit;
}

ul {
	list-style-type: none;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
}

@include for-tablet {
	:root {
		font-size: 11px;
	}
}
