@import "../mixins";

* {
	box-sizing: border-box;
}

:root {
	user-select: none;
	background-color: black;
	font-family: monospace;
	cursor: url("/assets/images/cursor.png") 16 16, auto;
}

.cursor {
	cursor: url("/assets/images/cursor.png") 16 16, auto;
}

:any-link, button:hover, input:hover, textarea:hover, .pointer:hover, .btn:hover {
	cursor: url("/assets/images/cursor_little_pink.png") 16 16, auto;
}

html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	
	&:before {
		content: "";
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: url("/assets/images/bg_home.png") fixed center/cover no-repeat;
		z-index: -1;
		pointer-events: none;
		animation: 30s cubic-bezier(0.3, 0, 0.7, 1) 1s infinite alternate slidein;

		@keyframes slidein {
			from { transform: scale(1); }
			to   { transform: scale(2); }
		}
	}
}

a {
	color: inherit;
}

ul {
	list-style-type: none;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
}

@include for-tablet {
	:root {
		font-size: 11px;
	}
}

// KEEP ?

// @keyframes shine {
// 	0% { text-shadow: 5px 3px 0px $color-3; color: $color-2; }
// 	14% { text-shadow: 5px 3px 0px $color-3; color: $color-1; }
// 	100% { text-shadow: 5px 3px 0px $color-3; color: $color-1; }
// }

// @keyframes shine2 {
// 	0% { color: $color-2 }
// 	54% { color: $color-1; }
// 	100% { color: $color-1; }
// }

// @keyframes appearRoomSearch {
// 	0% {width: 0%; margin: 0px 50%;border: 0px inset $color-2;}
// 	100% {width: 60%; margin: 30px 20%;border: 5px inset $color-1;}
// }

// @keyframes appearRoomInfo {
// 	0% {width: 0%; margin: 0px 50%;border: 2px inset $color-2;}
// 	99% {min-height: auto;}
// 	100% {width: 90%; margin: 0px 5%;border: 2px inset $color-1;}
// }

// @keyframes hideRoomInfo {
// 	0% {width: 90%; margin: 0px 5%;border: 2px inset $color-1;}
// 	99% {min-height: auto;}
// 	100% {width: 0%; margin: 0px 50%;border: 2px inset $color-2;}
// }

// @keyframes appearAvatar {
// 	0% {width: 0px; background-size: 0%; border: 0px inset $color-1;}
// 	25% {width: 0px; background-size: 0%; border: 0px inset $color-1;}
// 	50% {background-size: 125%; border: 0px inset $color-1;}
// 	100% {width: 120px; background-size: 125%; border: 2px inset $color-1;}
// }

// @keyframes appearText {
// 	0% {font-size: 0rem;}
// 	25% {font-size: 0rem;}
// 	100% {font-size: 1.5rem;}
// }

// @keyframes appearCvs {
// 	0% {margin: 500px 0px 0px 0px; opacity: 0;}
// 	100% {margin: 0px 0px 0px 0px; opacity: 1;}
// }

// @keyframes hideCvs {
// 	0% { margin: 0px 0px 0px 0px; opacity: 1;}
// 	100% { margin: 500px 0px 0px 0px; opacity: 0;}
// }

// @keyframes appearBtnWin {
// 	0% {width: 0%; margin: 0px 50%;border: 0px inset $color-2;}
// 	100% {width: 70%; margin: 30px 15%;border: 3px inset $color-1;}
// }

// @keyframes appearBtn {
// 	0% {opacity: 0; margin: 0px 0%;border: 0px inset $color-2;}
// 	100% {opacity: 1; margin: 30px 15%;border: 3px inset $color-1;}
// }
