#chat {
	flex-grow: 1;
	display: flex;
	flex-direction:row;
	min-height: 720px;
	min-width: 350px;
	width: 100%;
	border: 8px solid #00000000;
	@include for-tablet {
		flex-direction:column;
	}

	.chatLeft {
		width: 25%;
		overflow: auto;
		min-height: 16rem;
		display: flex;
		flex-direction:column;
		align-items: center;
		padding: 0.5rem;
		h2 {
			width: 100%;
		}
		.chatRoomList {
			width: 100%;
			div {
				border: 1px solid $primary;
				padding: 0.5rem;
				margin: 0.5rem;
			}
		}
		@include for-tablet {
			width: 100%;
		}
	}

	.chatRight {
		min-height: 32rem;
		border: 1px solid $primary;
		display: flex;
		flex-direction:column;
		align-items: center;
		flex-grow: 3;
		width: 75%;
		padding: 0.5rem;
		background-color: #000000cc;
		@include for-tablet {
			width: 100%;
		}
		h2 {
			text-align: center;
			height: fit-content;
			width: 100%;
			margin: 0;
		}
		#chatRoomMesssages {
			flex-grow: 1;
			width: 100%;
			overflow: auto;
			display: flex;
			flex-direction:column;
			.myMessage, .otherMessage, .cmd {
				width: auto;
				max-width: 70%;
				border: 1px solid $primary;
				padding: 0.5rem;
				margin: 0.25rem 0rem 0.25rem 0rem;
				border-radius: 8px;
				div {
					overflow: hidden;
					overflow-wrap: break-word;
				}
			}
			.myMessage {
				align-self: flex-end;
				div {
					text-align: right;
				}
			}
	
			.otherMessage {
				align-self: flex-start
			}

			.cmd {
				align-self: center;
				div {
					text-align: center;
				}
			}
		}
		textarea {
			min-height: 8rem;
			height: 8rem;
		}
	}

	input {
		width: 100%;
		padding: 0.2rem 1rem 0.2rem 1rem;
		margin-bottom: 0.4rem;
	}

	button {
		width: 100%;
		padding: 0.2rem 1rem 0.2rem 1rem;
		margin-bottom: 0.4rem;
	}

	textarea {
		padding: 0.42rem;
		color: white;
		width: 100%;
		align-self: center;
		resize: none;
		margin: 0.5rem 0 0 0;
		border: 1px solid $primary;
		padding: none;
		border-radius: 8px;
		background-color: darken($primary, 30%);
	}
	textarea:focus {
		outline: none !important;
		margin: 0.5rem 0 0 0;
		border: 1px solid $primary;
		padding: none;
	}

	.tabChat-active {
		display: block;
	}

	.tabChat-inactive {
		display: none;
	}
}
