#game {
	width: 90%;
	max-width: 1920px;
	.board {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;

		@include for-phone {
			flex-direction: column;
		}

		&>.players {
			padding: 15px;
			max-width: 150px;

			p {
				margin: 5px 0;
			}

			.avatar {
				position: relative;

				&>img {
					display: block;
				}

				&>.overlay {
					pointer-events: none;
					display: flex;
					justify-content: center;
					align-items: center;

					h3 {
						margin: 0;
					}
				}
			}
		}

		&>:not(.players) {
			flex: 1;
			display: flex;
			justify-content: center;
			margin: 0 20px;

			@include for-phone {
				flex-direction: column;
			}

			&>* {
				&:first-child {
					flex: 1;
					text-align: end;

					@include for-phone {
						text-align: center;
					}
				}
				&:last-child {
					flex: 1;
					text-align: start;

					@include for-phone {
						text-align: center;
					}
				}

				&:nth-child(2) {
					display: block;
					margin: 0 15px;
				}
			}
		}
	}

	div.canvas {
		position: relative;
		width: 100%;
		canvas {
			width: 100%;
		}
		&>.overlay {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}
}
