#options {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#totp-qr {
	display: flex;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;

	&>div {
		background-color: white;
		align-items: center;
		flex-direction: column;
		display: flex;
		padding: 15px;

		p {
			margin: 0;
			color: black;
			margin-bottom: 15px;
		}

		&>.buttons {
			margin-top: 15px;
			font-size: 1rem;
			display: flex;

			&>button {
				border: none;
				margin: 0 15px;
				padding: 10px;
				width: 120px;

				&:hover {
					background-color: $body-color;
				}

				&:first-child {
					color: green;
				}

				&:last-child {
					color: red;
				}
			}
		}
	}
}