.profile {
	//display:flex;
	//background-color: aquamarine;

	.stats {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 20px;
	
		.player {
			display: flex;
			align-items: center;
			gap: 10px;
			//margin: 5em;
			//background-color: aquamarine;
		}

		.graph {
			//background-color: pink;
			text-align: center;
		}
	}

	.history {
		
		text-align: center;
		table {
			width: 100%;
		}
		.titles {
			background-color: rgba($color: #681e6b, $alpha: 0.5);
			min-width: 100%;
			h4 {
				margin: 15px ;
			}
		}
	}
}