
.statistics {
	display: flex;

	.history {
		margin-left: 5em;
		text-align: center;
		.titles {
			background-color: rgba($color: #681e6b, $alpha: 0.5);
			min-width: 100%;
			h4 {
				margin: 15px ;
			}
		}
	}
}