$max-width: 742px;

#chat {
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction:row;
	font-size: 1rem;

	@media (max-width: $max-width) {
		flex-direction:column;
	}

	.chatLeft {
		height: 100%;
		width: 25%;
		h2 {
			width: 100%;
			margin: 0;
		}
	}

	.chatRight {
		height: 100%;
		width: 75%;
		padding: 0.5rem;
		h2 {
			height: 10%;
			width: 100%;
			margin: 0;
		}
		#chatRoomMesssages {
			height: 70%;
			width: 100%;
			overflow: auto;
			display: flex;
			flex-direction:column;
			.myMessage, .otherMessage {
				width: auto;
				max-width: 70%;
				border: 0.1rem solid #8900b3;
				padding: 0.5rem;
				margin: 0.25rem 0rem 0.25rem 0rem;
				border-radius: 8px;
			}
			.myMessage {
				align-self: flex-end;
				div {
					text-align: right;
				}
			}
	
			.otherMessage {
				align-self: flex-start
			}
		}
		textarea {
			height: 20%;
		}
	}

	.chatLeft, .chatRight {
		min-height: 32rem;
		margin: 0.1rem;
		border: 0.1rem solid #8900b3;
		display: flex;
		flex-direction:column;
		align-items: center;

		@media (max-width: $max-width) {
			width: 100%;
		}
	}

	.chatLeft {
		@media (max-width: $max-width) {
			min-height: 8rem;
			height: auto;
		}
	}

	input {
		width: 100%;
	}

	button {
		width: 100%;
		padding: 0rem 1.1rem 0rem 1.1rem;
	}

	textarea {
		width: 100%;
		align-self: center;
		resize: none;
		margin: 0.5rem 0 0 0;
		border: 0.1rem solid #8900b3;
		padding: none;
		border-radius: 8px;
	}
	textarea:focus {
		outline: none !important;
		margin: 0.5rem 0 0 0;
		border: 0.1rem solid #8900b3;
		padding: none;
	}
}

html, body, #root, .App {
	height: 100%;
}
#navigation {
	//display: none;
}
