.connect {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	//background: rgba(0, 0, 0, 0.541);
	//border-radius: 10%;
	//border: 2px inset $color-1;
	margin: 20% 5%;
	padding: 20px 0px 20px 0px;
	align-items: center;
	height: 300px;

	button {
		width: 240px;
		height: 240px;
		font-size: 1.3rem;;
	}

	input {
		width: 400px;
		height: 80px;
		padding: 10px 20px;
	}
}