.friends {
	.friendsSearch {
		display: flex;
		flex-wrap: wrap;
		justify-content:space-evenly;
		background: rgba(0, 0, 0, 0.541);
		border-radius: 10%;
		border: 2px solid $color-1;
		margin: 30px 20%;
		padding: 20px 0px 20px 0px;
		align-items: center;
		font-family: $font-1;
		font-size: 2rem;
		color: $color-1;
		text-shadow: none;

		button {
			width: 70px;
			height: 70px;
		}

		input {
			width: 300px;
			height: 50px;
			padding: 10px 20px;
		}
	}

	.friendsList {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}
