.game {
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
	text-align: center;


	.buttonWindow {
		display: flex;
		justify-content: center;
		width: 90%;
		margin: 0px 5%;

		//border: 2px solid $color-1;
		//background-color: black;

		button {
			width: 150px;
			height: 150px;
			padding: 15px;
			color: $color-3;
			margin: 20px;
			&:hover {
				color: $color-2;
			}
			&:active {
				color: $color-4;
			}
		}
	}

	canvas {
		//position: absolute;
		//top: 0px;
		//left: 0px;
		//right: 0px;
		//bottom: 0px;
		//margin: auto;
		border: 2px solid $color-2;
	}

	.roomInfo {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		background: rgba(0, 0, 0, 0.541);
		border: 2px inset $color-1;
		width: 90%;
		margin: 0px 5%;
		padding: 0px 0px 0px 0px;

		.playerCard {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: flex-start;
			align-items:center;
			//background: rgba(0, 0, 0, 0.541);
			//border-radius: 10%;
			//border: 2px solid $color-1;
			//margin: 50px 12%;
			padding: 10px 10px 10px 10px;
			min-width: 20%;
		}
		
		.playerAvatar {
			//background: rgba(0, 0, 0, 0.541);
			background: url("/assets/img/bg_friendCard.png")  no-repeat center/cover;
			background-size: 125%;
			border-radius: 50%;
			border: 2px inset $color-1;
			//margin: 50px 20%;
			padding: 10px;
		}

		.playerInfo {
			flex-direction: row;
			padding: 0px 10px 0px 15px;
			font-size: 1.5rem;
			border-radius: 10%;
			justify-content: center;
			//border: 2px solid $color-1;
		}

		.versus {
			display: flex;
			align-items: center;
		}

	}

	.roomSearchMatch {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		background: rgba(0, 0, 0, 0.541);
		border: 5px inset $color-1;
		border-radius: 10%;
		width: 60%;
		margin: 0px 20%;
		padding: 0px 0px 0px 0px;
	}

}