#login {
	margin: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;

	width: 60%;

	& > a {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 60%;
		max-width: 200px;
		padding: 20px;

		& > .content {
			position: absolute;
			display: block;
			padding: inherit;
		}

		&:before {
			content: "";
			display: block;
			padding-bottom: 100%;
		}
	}

	// input {
	// 	width: 460px;
	// 	height: 80px;
	// 	width: auto;
	// 	text-align: center;
	// 	margin: 0px 0px 40px 0px;
	// 	overflow: hidden;
	// }
}