h1, h2, h3, h4, h5 {
	color: $color-1;
	text-shadow: 5px 3px 0px $color-3;
	margin: 50px 10px 50px 10px;
	text-align: center;
}

.login {
	font-size: 4rem;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	background: rgba(0, 0, 0, 0.541);
	border-radius: 1%;
	border: 2px inset $color-1;
	padding: 40px 0px 40px 0px;
	align-items: center;
	text-align:center;
	width: 60%;
	//height: 100%;

	button {
		width: 240px;
		height: 240px;
		font-size: 1.3rem;
		color: $color-3;
		margin: 30px 0px 40px 0px;
	}

	input {
		width: 460px;
		height: 80px;
		width: auto;
		text-align: center;
		margin: 0px 0px 40px 0px;
		overflow: hidden;
	}
}
