.options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;

	.optionsWindow {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 80%;
		//height: 650px;
		background: rgba(0, 0, 0, 0.541);
		border-radius: 10%;
		border: 2px solid $color-1;
		margin: 50px 0%;
		//padding: 50px 0px 50px 0px;
		align-items: center;
		font-family: $font-1;
		font-size: 2rem;
		color: $color-1;
		text-shadow: none;
	
		.optionsAvatar {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			padding: 20px;

			.title {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				padding: 0px 0px 20px 0px;
				font-size: 3rem;
			}

			.avatarList {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: center;
				.avatar{
					//background: rgba(0, 0, 0, 0.541);
					background: url("/assets/images/bg_friendCard.png") no-repeat center/cover;
					background-size: 125%;
					border-radius: 50%;
					border: 2px inset $color-1;
					margin: 20px 20px;
					padding: 10px;
					transition: all 0.5s ease-out;
				}

				.avatar:hover {
					background: url("/assets/images/button_hover_rainbow.png") no-repeat center/cover;
					background-size: 125%;
					border: 2px inset rgb(58, 253, 40);
				}

				.avatar:active {
					background: url("/assets/images/button_active.png") no-repeat center/cover;
					background-size: 125%;
					color: #25ff66;
					transition: all 0s ease-out;
				}

				.avatarActive {
					background: url("/assets/images/button_hover_rainbow.png") no-repeat center/cover;
					background-size: 125%;
					border-radius: 50%;
					border: 2px inset rgb(58, 253, 40);
					margin: 20px 20px;
					padding: 10px;
					transition: all 0.5s ease-out;
				}
			}
		}
	}
}
