@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

$font-1: 'Permanent Marker', cursive;

$color-1: #8900b3;
$color-2: #ff25e2;
$color-3: #e1fcb7;
$color-4: #25ff66;
$color-5: #007222;
$white: rgb(243, 243, 243);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: url("/assets/img/cursor.png")50 50, auto;
	user-select: none;
}

body {
  margin: 0.4rem auto;
  max-width: 1700px;
  font-family: $font-1;
  font-size: 2.5rem;
  text-shadow: 5px 3px 0px $color-1;
  color: $color-3;
  background: url(/assets/img/bg_home.png) fixed center/contain;
  animation: 30s linear 1s infinite alternate slidein;
}

@keyframes slidein {
	from { background-size: 150%; }
	to   { background-size: 250%; }
  }

li {
  list-style-type: none;
}

a {
	text-decoration: none;
	color: $color-3;
	cursor: url("/assets/img/cursor_little_pink.png")50 50, auto;
}

a:visited {
	color: $color-3;
}

button {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-2;;
	background: url("/assets/img/bg_friendCard.png") no-repeat center/cover;
	border: none;
	transition: all 0.5s ease-out;
}

button:hover {
	background: url("/assets/img/button_hover_rainbow.png") no-repeat center/cover;
	text-shadow: none;
	cursor: url("/assets/img/cursor_little_pink.png")50 50, auto;
}

button:active {
	background: url("/assets/img/button_active.png") no-repeat center/cover;
	color: $color-4;
	transition: all 0s ease-out;
}

input {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-1;
}

input:hover {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
	cursor: url("/assets/img/cursor_little_pink.png")50 50, auto;
}

input:active {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
}

textarea {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-1;
}

textarea:hover {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
	cursor: url("/assets/img/cursor_little_pink.png")50 50, auto;
}

textarea:active {
	font-family: $font-1;
	font-size: 1.5rem;
	color: $color-1;
	background: black;
	border-color: $color-2;
}

.spec:hover {
	cursor: url("/assets/img/cursor_little_pink.png")50 50, auto;
}
