@import "./settings";
@import "./pages/connect";
@import "./pages/friends";
@import "./pages/game";
@import "./pages/home";
@import "./pages/options";
@import "./pages/statistics";
@import "./components/friendCard";
@import "./components/navigation";
@import "./components/popup";
@import "./components/userCard";